{% extends 'dreamy/base.html' %}

{% block content %}
  <h2>Browse {{ user_category }}:</h2>
  <div class="container">
    {% for user in users_following %}
    <hr>
    <div class="row">
      <div class="col-xs-3">
        <span>
          <a href="{% url 'profile' user_id=user.0.id %}">
            <img src="{{ user.0.avatar.url }}" alt="avatar" class="avatar">
            {{ user.0.username }}
          </a>
        </span>
      </div>
      {% if not request.user.is_authenticated %}
        <div class="col-xs-9">
          <p>{{ user.0.bio }}</p>
        </div>
      {% else %}
        <div class="col-xs-8">
          <p>{{ user.0.bio }}</p>
        </div>
        <div class="col-xs-1">
          {% if not user.1 %}
            <button type="button" id="follow-{{ user.0.id }}" class="btn btn-success btn-xs" onclick="update_follow(this)">
              Follow
            </button>
          {% else %}
            <button type="button" id="follow-{{ user.0.id }}" class="btn btn-warning btn-xs" onclick="update_follow(this)">
              Unfollow
            </button>
          {% endif %}
        </div>
      {% endif %}
    </div>
    {% endfor %}

    <div class="pagination">
      <span class="step-links">
        {% if users_following.has_previous %}
          <a href="?page=1">&laquo; first</a>
          <a href="?page={{ users_following.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
          Page {{ users_following.number }} of {{ users_following.paginator.num_pages }}.
        </span>

        {% if users_following.has_next %}
          <a href="?page={{ users_following.next_page_number }}">next</a>
          <a href="?page={{ users_following.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
      </span>
    </div>
  </div>
{% endblock %}
