{% extends 'dreamy/base.html' %}

{% block content %}
  <h2>Browse users:</h2>
  <div class="container">
    <div class="list-group">
      {% for user in users %}
      <hr>
      <div class="list-group-item">
        <a href="{% url 'profile' user_id=user.id %}">
          <span>
            <!-- <img src="{{ user.avatar }}" height="50px" width="auto" display="inline-block"> -->
            <h1>{{ post.title }}</h1>
          </span>
        </a>
      </div>
      {% endfor %}
    </div>

    <div class="pagination">
      <span class="step-links">
        {% if users.has_previous %}
          <a href="?page=1">&laquo; first</a>
          <a href="?page={{ users.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
          Page {{ users.number }} of {{ users.paginator.num_pages }}.
        </span>

        {% if users.has_next %}
          <a href="?page={{ users.next_page_number }}">next</a>
          <a href="?page={{ users.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
      </span>
  </div>
{% endblock %}
